body {
  color: rgba(0, 0, 0, 0.65);
}
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
ul,
ol,
li,
p,
blockquote,
pre,
hr,
figure,
table,
caption,
th,
td,
form,
fieldset,
legend,
input,
button,
textarea,
menu {
  margin: 0;
  padding: 0;
}
header,
footer,
section,
article,
aside,
nav,
hgroup,
address,
figure,
figcaption,
menu,
details {
  display: block;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
caption,
th {
  text-align: left;
  font-weight: normal;
}
html,
body,
fieldset,
img,
iframe,
abbr {
  border: 0;
}
i,
cite,
em,
var,
address,
dfn {
  font-style: normal;
}
[hidefocus],
summary {
  outline: 0;
}
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
small {
  font-size: 100%;
}
sup,
sub {
  font-size: 83%;
}
pre,
code,
kbd,
samp {
  font-family: inherit;
}
q:before,
q:after {
  content: none;
}
textarea {
  overflow: auto;
  resize: none;
}
label,
summary {
  cursor: default;
}
a,
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
em,
strong,
b {
  font-weight: bold;
}
del,
ins,
u,
s,
a,
a:hover {
  text-decoration: none;
}
body,
textarea,
input,
button,
select,
keygen,
legend {
  font: 12px/1.14 arial, 5b 8b 4f 53;
  color: #333;
  outline: 0;
}
body {
  background: #fff;
  font: 14px Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif;
}
a,
a:hover {
  color: #333;
}
.Module {
  background-color: #fff;
  margin-top: 1rem;
  padding: 1rem;
  padding-right: 0.5rem;
  color: rgba(0, 0, 0, 0.65);
  position: relative;
}
.BlueButton {
  color: #fff;
  width: 8rem;
  margin: 0.8rem auto;
  border-radius: 0.3rem;
  padding: 0.5rem;
  text-align: center;
  display: block;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, right top, from(#03a9f4), color-stop(#f441a5), color-stop(#ffeb3b), to(#03a9f4));
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
}
.BlueButton:hover {
  animation: animate-data 8s linear infinite;
  color: #ffffff;
}
@-webkit-keyframes animate-data {
  0% {
    background-position: 0;
  }
  to {
    background-position: 400%;
  }
}
@keyframes animate-data {
  0% {
    background-position: 0;
  }
  to {
    background-position: 400%;
  }
}
